<div class="col-lg-1 bg-dark"></div>
<div class="col-lg-3 bg-dark">
  <h1 class="text-light"><span class="text-warning">#</span> Warnings</h1>
  <p>&nbsp;</p>
  <div class="paper">
    <div class="pin">
      <div class="shadow"></div>
      <div class="metal"></div>
      <div class="bottom-circle"></div>
    </div>
    <p><strong class="text-danger">SEARCH:</strong> Eventually the search feature will work and you can search the docs.</p>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="paper">
    <div class="pin">
      <div class="shadow"></div>
      <div class="metal"></div>
      <div class="bottom-circle"></div>
    </div>
    <p><strong class="text-danger">DOCS:</strong> Documentation for my projects is kinda limited right now. I am working to expand it though. You can view the docs for this theme <a target="_blank" href="https://yosileyid.github.io/docs">here</a>.</p>
  </div>
</div>